@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Inter;
		-webkit-font-smoothing: antialiased; /* Smoothing improvement */
		-moz-osx-font-smoothing: grayscale;
		-webkit-overflow-scrolling: touch;
		font-size: 16px;
		@apply text-blue-900 tracking-normal;
	}
	p {
		@apply text-base/5.5;
	}
	body {
		background-color: #ffffff; /* Цвет фона для body */
		-webkit-overflow-scrolling: touch;
		@apply flex flex-col min-h-screen;
	}
	.main-body {
		@apply flex-grow;
	}
	@media screen and (max-width: 480px) {
		p {
			@apply text-sm/5;
		}
	}
	@font-face {
		font-family: 'GeneralSans-semibold';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src:
			url('./fonts/GeneralSans-Semibold.otf') format('opentype'),
			url('./fonts/GeneralSans-Semibold.woff') format('woff'),
			url('./fonts/GeneralSans-Semibold.woff') format('woff2');
	}
	@font-face {
		font-family: 'GeneralSans-Variable';
		src:
			url('./fonts/GeneralSans-Variable.woff2') format('woff2'),
			url('./fonts/GeneralSans-Variable.woff') format('woff');
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'GeneralSans-medium';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src:
			url('./fonts/GeneralSans-Medium.otf') format('opentype'),
			url('./fonts/GeneralSans-medium.woff') format('woff'),
			url('./fonts/GeneralSans-Medium.woff2') format('woff2');
	}
}

@layer utilities {
	@media screen and (max-height: 800px) {
		.screen-h-800-py-28 {
			padding-top: 7rem;
			padding-bottom: 2.75rem;
		}
	}
}
.active-header {
	@apply bg-white top-0;
	box-shadow:
		0px -1.85px 19.48px 0px rgba(0, 0, 0, 0.05),
		0px 6px 11.8px -4px rgba(13, 34, 71, 0.02),
		0px 0px 0px 1px rgba(18, 35, 69, 0.1),
		0px 11px 10.7px -6px rgba(18, 35, 69, 0.04);
}

.animate__fadeInAndSlideInUp {
	animation:
		fadeIn 0.4s,
		slideInUp 0.5s;
	animation-fill-mode: forwards;
}

.tham-w-6 .tham-inner,
.tham-w-6 .tham-inner::after,
.tham-w-6 .tham-inner::before {
	@apply h-0.5 w-[1.125rem] bg-black rounded-lg;
}

.tham-w-6 .tham-box {
	@apply w-[1.125rem];
}

.tham:hover {
	opacity: 1 !important;
}

.tham-w-6 .tham-inner::before {
	top: -5px;
}

.tham-w-6 .tham-inner::after {
	bottom: -5px;
}
